@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

.canva{
    border: 2px solid rgb(255, 255, 255);
    /* font-family: "VT323", monospace; */
}


body{
    background: linear-gradient(to bottom, #050505, #000022);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Press Start 2P", system-ui;
    position: relative;
}

h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right, #ff69b4, #add8e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

p{
    color: #fff;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.gameover{
    position: absolute;
    top: 42%;
    left: 42%;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}

.gameover h2{
    color: #fff;
    font-size: 2rem;
    background: linear-gradient(to right, #ffea4b, #b78300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.gameover button{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid wheat;
    background-color: #ffffff00;
    color: #fff;
    font-size: .6rem;
    cursor: pointer;
    transition: all 0.4 ease;
    font-family: "Press Start 2P", system-ui;
}

.gameover button:hover{
    background: linear-gradient(to right, #ffea4b, #b78300);
    transition: all 0.3s ease;
}

.hidden{
    display: none;
}
.compte{
    position: absolute;
    top : 47%;
    left: 50%;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn{
    margin-top: 3rem;
}


.btn button{
    padding: .5rem 1rem;
        border-radius: 10px;
        border: 1px solid wheat;
        background-color: #ffffff00;
        color: #fff;
        font-size: .6rem;
        cursor: pointer;
        transition: all 0.4 ease;
        font-family: "Press Start 2P", system-ui;
}

.btn button:hover {
    background: linear-gradient(to right, #ffea4b, #b78300);
    transition: all 0.3s ease;
}


img{
    height: 30px;
    width: 30px;
    transition: all 0.3s ease;
}


img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.b{
    margin-top: -0.5rem;
}

.f{
    display: flex;
    width: 10%;
    margin-left: 400px;
    gap: 20px;
}


.settingsmenu{
    border: 2px solid white;
    background-color: #000022;
    position: absolute;
    padding: 2rem;
}


.settingsmenu h2{
    color: #ffff;
    text-align: center;
    margin-bottom: 2rem;
}

.difficulte{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    gap: 20px;
}

.difficulte button{
    padding: .5rem 1rem;
    border-radius: 1px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    color: #fff;
    font-size: .6rem;
    cursor: pointer;
    transition: all 0.4 ease;
    font-family: "Press Start 2P", system-ui;
}


.easy:hover{
    background-color: green !important;
}

.medium:hover{
    background-color: rgb(149, 149, 0) !important;
}

.hard:hover{
    background-color: rgb(163, 0, 0) !important;
}

.activeeasy{
    background-color: green !important;
}

.activemoyen{
    background-color: rgb(149, 149, 0) !important;
}

.activehard{
    background-color: rgb(163, 0, 0) !important;
}

.end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3rem;
}

.end button{
    padding: .5rem 1rem;
    border-radius: 1px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    color: #fff;
    font-size: .6rem;
    cursor: pointer;
    transition: all 0.4 ease;
    font-family: "Press Start 2P", system-ui;
}


.closesettings:hover{
    background-color: green !important;
}


.rocherValue{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

.rocherValue input{
    padding: .5rem 1rem;
    border-radius: 1px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    color: #fff;
    font-size: .6rem;
    cursor: pointer;
    transition: all 0.4 ease;
    font-family: "Press Start 2P", system-ui;
    width: 75%;

}

label{
    color: #fff;
    font-size: .7rem;
}

.speedValue{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
}